body {
  margin: 0 10em;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin: 0.5em 0;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}
